#header-default .navbar-default{
    background-color: transparent;
    border:none;
    margin: 0px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:0px;
    min-height: 90px;
}
#header-default .navbar-default.navbar-inverse {
    background-color: #222222;
    border:none;
    border-radius:0px;
    min-height: 90px;
}
#header-default .navbar-brand {
    display: inline-block;
    padding: 0px;
    color:#fff;
    font-weight:800
}

#header-default .site-header .header-contents .site-logo a {
  display: inline-block;
}


#header-default .navbar-megamenu .navbar-nav>li>a{
    color:#666666;
    font-size: 14px;

}
#header-default .navbar-megamenu .navbar-nav>li>a:hover,
#header-default .navbar-megamenu .navbar-nav>li>a:focus{
    color:#579ef1;
    background-color:transparent
}
#header-default .navbar-megamenu .navbar-nav>li.active>a,
#header-default .navbar-megamenu .navbar-nav>li.active>a:hover,
#header-default .navbar-megamenu .navbar-nav>li.active>a:focus,
#header-default .navbar-megamenu .navbar-nav>li.open>a,
#header-default .navbar-megamenu .navbar-nav>li.open>a:hover,
#header-default .navbar-megamenu .navbar-nav>li.open>a:focus{
    color:#579ef1;
    font-weight: 500;
    background-color:transparent;
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu{
    position:static
}

#header-default  .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu{
    min-width:240px;
    background: #f5f5f5;
    border-top: 4px solid #579ef1;
    box-shadow: none;
    padding: 0px 0;
}
#header-default  .navbar-megamenu .navbar-nav>li .dropdown-menu{
    min-width:240px;
    background-color: #f5f5f5;
    border-top: 4px solid #579ef1;
    box-shadow: none;
    padding: 0px 0;

}
#header-default .dropdown-menu > li > a {

    padding: 5px 15px;
}
#header-default .navbar-right .dropdown-menu {
    right: 0;
    left: 0;
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column{
    width:280px;
    display:block;
    float:left
}
#header-default  .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column:not(:first-child):after{
    position:absolute;
    display:block;
    content:'';
    width:1px;
    background-color:#eeeeee;
    height:100%;
    top:0
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column .divider{
    margin:16px 20px 10px;
    max-width:60px
}
#header-default #header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column ul{
    padding:0;
    margin:0;
    list-style:none
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column a{
    font-size:13px;
    padding:3px 20px;
    display:block;
    color:#333
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column a:hover,
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column a:focus{
    background-color:#f5f5f5;
    color:#333
}
#searchbar{margin-left: 34px;}
#searchbar i {
    vertical-align: middle;
    display: flex;
    padding-top: 15px;
    font-size: 17px;
}
.navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column span.sub{
    font-size:11px;
    line-height:1.6em;
    margin-top:-4px;
    padding:2px 20px;
    display:block
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column .featured-image a{
    font-size:14px;
    color:#2E7DD9;
    font-weight:600
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column .featured-image a img{
    padding:5px 0
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column .description{
    padding:3px 0
}
#header-default .navbar-megamenu .navbar-nav>li.megamenu>.dropdown-menu .megamenu-column .description a{
    display:none
}
#header-default #searchbar{
    cursor: pointer;
    color: #666666;
    font-size: 14px;
}
#header-default .search-bar{
    display:none;
    padding: 2rem 0;
    background: rgba(33,33,33,.5);
}