#secondary-header{
    background-color:#579ef1;
    padding: 7px 15px;
    color:#fff;
    .secondary-right-bar, 
    .secondary-left-bar{
     ul{
         margin-bottom: 0px;
         &:first-child{
          padding-left: 0px;
         }
         &:last-child{
          padding-right: 12px;
         }
         li{
   padding-left: 12px;
  padding-right: 0px;
  a{
     color:#ffffff;
    font-size: 12px;
    text-decoration: none;
    &:hover{
      color:#ffffff;
       text-decoration: none;
    }
    i{
      margin-right: 5px;
    }
  }

         }
      }
.widget-contact-info,
.widget-social-icon{
  display: inline-block;
}

    }
}



#secondary-header .secondary-right-bar ul li a,
#secondary-header .secondary-right-bar ul li a:hover{
    color:#ffffff;
    font-size: 12px;
    text-decoration: none;
}
@media(min-width:767px){
    #secondary-header .secondary-left-bar{text-align: left;}
    #secondary-header .secondary-right-bar{text-align: right;}
}
